# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
!.yarn/sdks

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directories
lib-cov
coverage
*.lcov
.nyc_output

# Temp / cache directories
.grunt
bower_components
.build/Release
jspm_packages/
web_modules/
.cache
.parcel-cache
.next
.nuxt
.svelte-kit/
**/.vitepress/dist
**/.vitepress/cache
.vuepress/dist
.docusaurus
.serverless/
.fusebox/
.dynamodb/
.firebase/
.tern-port
.vscode-test

# Output of npm pack
*.tgz

# Yarn integrity files
.yarn-integrity

# Env files
.env*
!.env.example

# Next.js / Nuxt / Gatsby
next-env.d.ts
out
dist
public

# Misc
.DS_Store
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite log files
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
